#contact {
  padding: 20px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
#contact h1 {
  text-align: center;
  color: #1d8e7b;
}
#contact p {
  max-width: 800px;
  width: 100%;
  margin: auto;
  font-size: 20px;
  line-height: 1.6;
  text-align: justify;
  padding: 0 15px;
  box-sizing: border-box;
}

#contact .get-icecream {
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
}
#contact h2 {
  font-family: "Mozilla Headline", sans-serif;
  font-size: 36px;
  color: #1d8e7b;
}
#contact form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}
#contact form input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #97c7bf;
  border-radius: 5px;
}
#contact form input:focus {
  border: none;
  outline: none;
  border: 4px solid #97c7bf;
}
#contact form button {
  padding: 10px;
  font-size: 18px;
  background-color: #1d8e7b;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
